.left-menu-section {
  background: #FCFCFD;
  padding: 20px 20px 100px 0;

  .list-group {
    border-bottom: 1px solid #E6E8EC;
    padding-bottom: 20px;

    .list-group-item {
      background: transparent;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #777E91;
      border-bottom: 0;
      padding: 15px 15px;
      display: flex;
      place-items: center;

      span {
        padding: 0 10px;
      }

      &:hover,
      &.active {
        color: #35C4FF;

        svg {
          fill: #35C4FF;
          path {
            fill: #35C4FF;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {
  .left-menu-section {
    padding: 20px 20px 20px 0;
  
    .list-group {
      padding-bottom: 15px;
  
      .list-group-item {
        font-size: 14px;
        line-height: 16px;
        padding: 15px 15px;
  
        span {
          padding: 0 10px;
        }
      }
    }
  }
}