.sales-section {
  padding: 0;
  font-family: var(--font-family);
  background-color: #fff;

  .container {
    padding: 100px 0 50px;
  }

  .content {
    background-color: #F5FAFF;

    border-radius: 16px;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    position: relative;

    margin-left: -15px;
    margin-right: -15px;

    &__item {
      display: flex;
      place-items: center;
      place-content: space-between;
      background: #FCFCFD;
      box-shadow: 0px 27px 80px -48px rgba(15, 15, 15, 0.03);
      border-radius: 16px;
      padding: 30px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .img {
        margin-right: 30px;
        min-width: 50px;
      }

      .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #23262F;
        margin-bottom: 5px;
      }

      .total {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #777E91;
      }

      .price {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #23262F;
      }
    }
  }

  h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;

    text-align: center;
    margin-bottom: 50px;
  }

  h4 {
    font-family: var(--font-family-2);
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    /* identical to box height, or 127% */


    color: #FFFFFF;
    margin-bottom: 20px;
  }

  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 31px;
    /* or 194% */


    color: #FFFFFF;
    margin-bottom: 50px;
  }

}

@media only screen and (max-width: 1600px) {
  .sales-section {
    padding: 0;
  
    .container {
      padding: 100px 0 50px;
    }
  
    .content {
      border-radius: 16px;
      padding: 30px;
      font-size: 24px;
      line-height: 29px;
  
      margin-left: -15px;
      margin-right: -15px;
  
      &__item {
        padding: 30px;
        margin-bottom: 30px;
  
        .img {
          margin-right: 30px;
          min-width: 50px;
        }
  
        .title {
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 5px;
        }
  
        .total {
          font-size: 14px;
          line-height: 16px;
        }
  
        .price {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  
    h3 {
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 50px;
    }
  
    h4 {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 20px;
    }
  
    h5 {
      font-size: 16px;
      line-height: 31px;
      margin-bottom: 50px;
    }
  
  }
}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1200px) {
  .sales-section {
    padding: 0;
  
    .container {
      padding: 50px 0 50px;
    }
  
    .content {
      border-radius: 16px;
      padding: 30px;
      font-size: 24px;
      line-height: 29px;
  
      margin-left: -15px;
      margin-right: -15px;
  
      &__item {
        padding: 30px;
        margin-bottom: 30px;
  
        .img {
          margin-right: 30px;
          min-width: 50px;
        }
  
        .title {
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 5px;
        }
  
        .total {
          font-size: 14px;
          line-height: 16px;
        }
  
        .price {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  
    h3 {
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 50px;
    }
  
    h4 {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 20px;
    }
  
    h5 {
      font-size: 16px;
      line-height: 31px;
      margin-bottom: 50px;
    }
  
  }
}

@media only screen and (max-width: 992px) {
  .sales-section {
    padding: 0;
  
    .container {
      padding: 50px 0 50px;
    }
  
    .content {
      border-radius: 16px;
      padding: 20px;
  
      margin-left: -15px;
      margin-right: -15px;
  
      &__item {
        padding: 20px;
        margin-bottom: 20px;
  
        .img {
          margin-right: 20px;
          min-width: 50px;
          max-width: 50px;
        }
  
        .title {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 5px;
        }
  
        .total {
          font-size: 14px;
          line-height: 16px;
        }
  
        .price {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  
    h3 {
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 50px;
    }
  
    h4 {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 20px;
    }
  
    h5 {
      font-size: 16px;
      line-height: 31px;
      margin-bottom: 50px;
    }
  
  }
}

@media only screen and (max-width: 768px) {
  .sales-section {
    padding: 0;
  
    .container {
      padding: 50px 0 50px;
    }
  
    .content {
      border-radius: 16px;
      padding: 20px;
  
      margin-left: -0;
      margin-right: -0;
  
      &__item {
        padding: 20px;
        margin-bottom: 20px;
  
        .img {
          margin-right: 20px;
          min-width: 50px;
          max-width: 50px;
        }
  
        .title {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 5px;
        }
  
        .total {
          font-size: 14px;
          line-height: 16px;
        }
  
        .price {
          font-size: 15px;
          line-height: 24px;
        }
      }
    }
  
    h3 {
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 50px;
    }
  
    h4 {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 20px;
    }
  
    h5 {
      font-size: 16px;
      line-height: 31px;
      margin-bottom: 50px;
    }
  
  }
}

@media only screen and (max-width: 576px) {
  .sales-section {
    padding: 0;
  
    .container {
      padding: 50px 15px 50px;
    }
  
    .content {
      border-radius: 16px;
      padding: 10px;
  
      margin-left: 0;
      margin-right: 0;
  
      &__item {
        padding: 10px;
        margin-bottom: 10px;
  
        .img {
          margin-right: 10px;
          min-width: 40px;
          max-width: 40px;
        }
  
        .title {
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 0px;
        }
  
        .total {
          font-size: 12px;
          line-height: 16px;
        }
  
        .price {
          font-size: 13px;
          line-height: 24px;
        }
      }
    }
  
    h3 {
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 50px;
    }
  
    h4 {
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 20px;
    }
  
    h5 {
      font-size: 16px;
      line-height: 31px;
      margin-bottom: 50px;
    }
  
  }
}